* {
    margin: 0px;
    padding: 0px;
}
section {
    border: 1px solid blue;
    height: 100vh;
}
#head {
    text-align: center;
    margin-top: 50px;
}
#head1 {
    font-size: 25px;
}
.big {
    font-size: 37px;
}
.round {
    border: 1px solid blue;
    margin-top: 20px;
    text-align: center;
}
.aOne {
    text-decoration: none;
    position: relative;
    /* top: ;
    left: ; */
}
#language {
    color: blue;
    font-weight: bold;
}
#plus {
    color: black;
}
#one {
    color: red;
}